//Media queris para diseño mobile (extra small and small devices)
@media only screen and (max-width: 767.98px) {
    .contenedor__header {
        height: 100px;
        background-image: url(../images/image-banner.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

//Media queris para diseño desktop (medium, large and extra large devices)
@media only screen and (min-width: 768px) {
    .contenedor__header {
        height: 220px;
        background-image: url(../images/image-banner.png);
        background-position: center;
        background-repeat: no-repeat;
    }
}