//Media queris para diseño mobile (extra small and small devices)
@media only screen and (max-width: 767.98px) {
    .contenedor__main {
        padding: 1.5rem 2rem;

        &--title {
            padding-bottom: 2rem;
            text-align: center;
        }

        &--column img {
            width: 100%;
        }

        &--column h5 {
            color: #000000;
        }

        &--column p {
            color: grey;
            padding-bottom: 1rem;
        }
    }
}

//Media queris para diseño desktop (medium, large and extra large devices)
@media only screen and (min-width: 768px) {
    .contenedor__main {
        padding: 2rem 0;

        &--title {
            padding-bottom: 2rem;
        }

        &--column img {
            width: 100%;
        }

        &--column h5 {
            color: #000000;
        }

        &--column p {
            color: grey;
            padding-bottom: 1rem;
        }
    }
}