.contenedor__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 4.5rem 1rem 4.5rem;

    &--title span {
        vertical-align: top;
    }

    &--list ul{
        display: flex;
        flex-direction: row;
        list-style: none;

        i {
            padding-left: 2rem;
        }
    }
}