//Media queris para diseño mobile (extra small and small devices)
@media only screen and (max-width: 767.98px) {
    .contenedor__navigation {

        &--title svg {
            margin: 1rem 2rem;
        }

        &--list i {
            font-size: 1.33em;
        }

        &--list .icon {
            display: none;
        }

        &--list .burger-icon {
            margin: 1rem 2rem;
        }
    }    
}

//Estilo para diseño desktop (medium, large and extra large devices)
.contenedor__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;

    &--title svg {
        width: 10rem;
    }
    &--list ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        
        i {
            font-size: 1.33em;
            padding-left: 2rem;
        }
    }
}
