//Media queris para diseño mobile (extra small and small devices)
@media only screen and (max-width: 767.98px) {

    .contenedor__navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem 3rem;
    
        &--title span {
            vertical-align: top;
        }
    
        &--list ul{
            display: flex;
            flex-direction: row;
            list-style: none;
        }

        &--list .icon {
            display: none;
        }
    }    
}

//Media queris para diseño desktop (medium, large and extra large devices)
@media only screen and (min-width: 768px) {

    .contenedor__navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5rem 0 1rem 0;

        &--title span {
            vertical-align: top;
        }

        &--list ul{
            display: flex;
            flex-direction: row;
            list-style: none;

            i {
                padding-left: 2rem;
            }
        }
    }
}